*{
    font-family: monospace;
    margin: 0;
    padding: 0;
}

@media (min-width:391px) {
    .titre_header{
        display: flex;
        justify-content: space-between;
        background-color: rgb(162, 132, 94);
    }
    
    .img_header{
        width: 60px;
        height: 60px;
    }
    
    .titre_header h1{
        font-size: 40px;
    }

    .icons{
        margin-top: 10px;
    }
    
    .menu{
    width: 100%;
    background-color: #77a464;
    }
    .menu > ul{
        display:flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-between;
    }
    
    .menu li a{
        padding: 10px;
        font-size: 2rem;
        text-decoration: none;
        display: block;
        color: black;
    }

    .menu li a:hover{
        color: white;
    }
    
    .sousmenu{
        display: none;
        list-style: none;
    
    }
    
    .has_sous_nav:hover .sousmenu{
        display: block;
    }

    .desc_equipe{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        gap: 15px;
    }

    .desc_equipe h2{
        font-size: 3rem;
    }

    .desc_equipe article{
        font-size: 15px;
        padding-left: 20%;
        padding-right: 20%;
    }

    .img_equipe img{
        height: 300px;
        width: 460px;
        margin-top: 5px;
    }

    .img_equipe article{
        margin-bottom: 5px;
    }

    .img_equipe{
        border: solid 2px  #77a464;
        margin-left: 15%;
        margin-right: 15%;
    }

    .titre_tableau{
        text-align: center;
        font-size: 3rem;
    }

    .tableau{
        border: 2px solid black;
        border-collapse: collapse;
        margin-top: 50px;
        margin-right: 10%;
        margin-left: 32%;
        
    }

    tr, td{
        border:2px solid black;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom:10px ;
        font-size: 15px;
        text-align: center;
        
    }

    .intitule{
        font-weight: bolder;
    }

    .composant{
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: center;
        gap:15px
    }

    .composant h3{
        font-size: 2.5rem ;
    }

    .composant p{
        font-size: 2rem;
    }

    .mon_profil{
        display: flex;
        flex-direction: column;
        border: 10px solid #77a464;
        margin-top: 30px;
        justify-content: center;
    }

    .mon_profil h2{
        text-align: center;
        font-size: 3rem;
    }

    .bouton{
        text-align: center;
        margin-left: 45%;
        margin-right: 40%;
        height: 30px;
        width: 80px;
    }
    
}



@media (max-width:431px){
    .titre_header{
        display: flex;
        justify-content: space-between;
        background-color: rgb(162, 132, 94);
    }

    .img_header{
        width: 30px;
        height: 30px;
    }

    .titre_header h1{
        align-self: center;
    }

    .menu{
    width: 100%;
    background-color: #77a464;
}
    .menu > ul{
        display:flex;
        flex-wrap: wrap;
        list-style: none;
    }

    .menu li a{
        font-size: 12px;
        padding: 10px;
        text-decoration: none;
        display: block;
        color: black;
    }

    .sousmenu{
        display: none;
        list-style: none;

    }

    .has_sous_nav:hover .sousmenu{
        display: block;
    }

    .desc_equipe{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        gap: 15px;
    }

    .desc_equipe article{
        padding-left: 30px;
        padding-right: 30px;
    }

    .img_equipe img{
        height: 150px;
        width: 200px;
        margin-top: 5px;
    }

    .img_equipe article{
        margin-bottom: 5px;
    }

    .img_equipe{
        border: solid 2px  #77a464;
        margin-left: 30px;
        margin-right: 30px;
    }

    .titre_tableau{
        text-align: center;
    }

    .tableau{
        border: 2px solid black;
        border-collapse: collapse;
        margin-left: 10px;
        margin-right: 10px;
    }

    tr, td{
        border:2px solid black;
        padding: 5px;
    }

    .composant{
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: center;
        gap:15px
    }

    .mon_profil h2{
        text-align: center;
    }

    .bouton{
        text-align: center;
        margin-left: 40%;
        margin-right: 40%;
    }

}
